# Database URL (Örneğin kendi yerel PostgreSQL veya Supabase linkiniz)
DATABASE_URL="postgresql://kullanici:sifre@localhost:5432/veritabani"
DIRECT_URL="postgresql://kullanici:sifre@localhost:5432/veritabani"

# NextAuth Security
AUTH_SECRET="buraya_rastgele_bir_hash_gelecek"

# Google OAuth
AUTH_GOOGLE_ID="google_client_id_buraya"
AUTH_GOOGLE_SECRET="google_client_secret_buraya"